@using Library.Web.Models.Catalog
@model Library.Web.Models.Catalog.AssetIndexModel
@{
    ViewBag.Title = "Library Catalog Index";
}

    <body>
        <!-- page -->
        <div id="page" class="page">
            <!--/timeline-->
            <!--//timeline--><!--/timeline-->
            <section class="w3l-timeline-main editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(19, 78, 111); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif;">

                <div class="wrapper">
                    <div class="timeline-content-6">
                        <h1 class="editContent"><span style="text-align: left; background-color: rgb(19, 78, 111);">Kundeprofilering</span><br></h1><ul class="timeline">
                            <li class="editContent">
                                <div class="direction-r">
                                    <div class="flag-wrapper">
                                        <span class="flag editContent" style="outline: none; cursor: inherit;">Personlige</span><span class="time-wrapper"><span class="time editContent" style="outline: none; cursor: inherit;">Spørgsmål 1</span></span>
                                    </div>
                                    <div class="desc editContent">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quas
                                        voluptatum ea culpa repellendus porro mollitia quidem incidunt ullam ducimus!
                                    </div>
                                </div>
                            </li>

                            <!-- Item 2 -->
                            <li class="editContent">
                                <div class="direction-l">
                                    <div class="flag-wrapper">
                                        <br><span class="time-wrapper"><span class="time editContent" style="outline: none; cursor: inherit;">Spørgsmål 2</span></span>
                                    </div>
                                    <div class="desc editContent">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad cumque
                                        exercitationem maiores alias! Necessitatibus nulla nostrum obcaecati iusto omnis
                                        dignissimos tempore ratione ab. Saepe qui voluptas nihil ullam maxime odio.
                                    </div>
                                </div>
                            </li>

                            <!-- Item 3 -->
                            <li class="editContent" style="outline: none; cursor: inherit;">
                                <div class="direction-r">
                                    <div class="flag-wrapper">
                                        <br><span class="time-wrapper"><span class="time editContent" style="outline: none; cursor: inherit;">Spørgsmål 3</span></span>
                                    </div>
                                    <div class="desc editContent" style="outline: none; cursor: inherit;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
                                        unde.
                                    </div>
                                </div>
                            </li>

                            <!-- Item 2 -->
                            <li class="editContent" style="outline: none; cursor: inherit;">
                                <div class="direction-l">
                                    <div class="flag-wrapper">
                                        <br><span class="time-wrapper"><span class="time editContent" style="outline: none; cursor: inherit;">Spørgsmål 4</span></span>
                                    </div>
                                    <div class="desc editContent" style="outline: none; cursor: inherit;">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate nemo,
                                        accusantium libero eligendi officiis iusto.
                                    </div>
                                </div>
                            </li>


                            <!-- Item 1 -->
                            <li class="editContent" style="outline: none; cursor: inherit;">
                                <div class="direction-r">
                                    <div class="flag-wrapper">
                                        <span class="flag editContent" style="outline: none; cursor: inherit;">Økonomi</span><span class="time-wrapper"><span class="time editContent" style="outline: none; cursor: inherit;">Spørgsmål 5</span></span>
                                    </div>
                                    <div class="desc editContent" style="outline: none; cursor: inherit;">Lorem ipsum dolor sit amet consectetur adipisicing elit!</div>
                                </div>
                            </li>

                            <!-- Item 2 -->
                            <li class="editContent" style="outline: none; cursor: inherit;">
                                <div class="direction-l">
                                    <div class="flag-wrapper">
                                        <br><span class="time-wrapper"><span class="time editContent" style="outline: none; cursor: inherit;">Spørgsmål 6</span></span>
                                    </div>
                                    <div class="desc editContent" style="outline: none; cursor: inherit;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ducimus
                                        pariatur, molestiae autem suscipit totam error reprehenderit dolores nostrum reiciendis
                                        quas voluptas et repellat velit, qui eos ut minus consequuntur, quam facere? Culpa modi,
                                        facere laborum distinctio perspiciatis nesciunt sunt.
                                    </div>
                                </div>
                            </li>

                            <!-- Item 3 -->
                            <li class="editContent" style="outline: none; cursor: inherit;">
                                <div class="direction-r">
                                    <div class="flag-wrapper">
                                        <span class="flag editContent" style="outline: none; cursor: inherit;">Investeringsprofil</span><span class="time-wrapper"><span class="time editContent" style="outline: none; cursor: inherit;">Spørgsmål 7</span></span>
                                    </div>
                                    <div class="desc editContent" style="outline: none; cursor: inherit;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reiciendis
                                        beatae quam odit fuga voluptates consequuntur quaerat iure, aperiam eveniet est porro
                                        veritatis cum corrupti consequatur dolore provident quas culpa similique! Dolorum ipsam
                                        aperiam obcaecati.
                                    </div>
                                </div>
                            </li>
                            <li class="editContent" style="outline: none; cursor: inherit;">
                                <div class="direction-l">
                                    <div class="flag-wrapper">
                                        <span class="time-wrapper"><span class="time editContent" style="outline: none; cursor: inherit;">Spørgsmål 8</span></span>
                                    </div>
                                    <div class="desc editContent" style="outline: none; cursor: inherit;">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis dicta eum
                                        officia enim rem quibusdam, culpa, rerum eaque odio reiciendis ipsa quas, odit quisquam
                                        ducimus?
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </section>
        </div>
    </body>


@section Styles {
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#catalogIndexTable').DataTable();
        });
    </script>
}